<div class="contain">
    <div class="row">List Available Items
        <table class="table-primary">
            <thead>
                <tr>
                    <th>Mobile Name</th>
                    <th>Product Brand</th>
                    <th>Release Date</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Add </th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let list of mobileProd; let i=index" [ngStyle]="{'background-color': list.qty>5?  'lightgreen': ''}">
                    <td>{{list.mobieName}}</td>
                    <td>{{list.productBrand}}</td>
                    <td>{{list.releaseDate}}</td>
                    <td>{{list.qty}}</td>
                    <td>{{list.price}}</td>
                    <td><img src="../assets/images/plus.jpg" width="30" height="30"></td>
                    <td><button (click)="deletelist(list.userID)" [disabled]="list.qty > 1">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<br/>
<hr/>


<div class="contain">
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>Mobile Name</th>
                    <th>Quantity</th>

                    <th>Index</th>
                    <th>Odd </th>
                    <th>Even</th>
                    <th>First</th>
                    <th>Last</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of mobileProd; let i=index,let Odd=odd; let Even=even;
                let First=first; let Last=last;">
                    <td>{{list.mobieName}}</td>
                    <td>{{list.qty}}</td>
                    <td>{{i}}</td>
                    <td>{{Odd}}</td>
                    <td>{{Even}}</td>
                    <td>{{First}}</td>
                    <td>{{Last}}</td>
                    <!-- <td>{{}}</td>
                    <td>{{i}}</td> -->

                </tr>
            </tbody>
        </table>
    </div>
</div>